@define-color background-color #002b36;
@define-color border-color #073642;
@define-color label #839496;
@define-color image #839496;
@define-color progress #b58900;

/* Cancel out Omarchy settings */
window:not(:backdrop),
window:backdrop {
    border: none;
    border-width: 0;
    border-radius: 24px;
    background-color: transparent;
    box-shadow: none;
    padding: 12px;
}


/* Draw a new background */
window:not(:backdrop) #container,
window:backdrop #container {
    border: 2px solid @border-color;
    border-radius: 16px;
    background-color: @background-color;
    padding: 12px;
    background-clip: padding-box;
    box-shadow: 2px 2px 9px 0px rgba(0, 0, 0, 0.8);
}
