@define-color base00 #002d38;
@define-color base01 #093946;
@define-color base02 #5b7279;
@define-color base03 #657377;
@define-color base04 #98a8a8;
@define-color base05 #8faaab;
@define-color base06 #f1e9d2;
@define-color base07 #fbf7ef;
@define-color yellow #ac8300;
@define-color orange #d56500;
@define-color red #f23749;
@define-color magenta #dd459d;
@define-color violet #7d80d1;
@define-color blue #2b90d8;
@define-color cyan #259d94;
@define-color green #819500;

@define-color text @base02;
@define-color selected-text @magenta;
@define-color base @base00;
@define-color border @base01;
@define-color foreground @base04;
@define-color background @base00;
@define-color selection @base02;

window {
   background-color: transparent;
   background-image: radial-gradient(circle at center,
         rgba(0, 30, 73, 0.35) 0%,
         rgba(0, 8, 23, 0.65) 60%,
         rgba(0, 4, 12, 0.85) 100%);
   backdrop-filter: blur(1.5px);
   border: none;
   border-width: 0;
   border-color: @border;
   padding: 0;
   /* outline: none;  */
   box-shadow: none;
 }

 /* Transparent Search Bar */
.search-container {
    background-color: @base;
    padding: 6px 10px;
}

window .box-wrapper {
    background-color: @background;
    border-radius: 12px;
    color: @text;
    border: 1px solid @cyan;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.8);
}

entry {
    background-color: @base01;
    color: @text;
    border: 1px solid @border;
    border-radius: 12px;
    padding: 10px 10px; /* add inner space so placeholder/text isn't flush */
}

entry selection {
    background-color: @selection;
    color: @selected-text;
}

list,
list row,
list row label {
    background-color: @background;
    color: @text;
}

list row:selected,
list row:selected label {
    background-color: @selection;
    color: @selected-text;
}
